.algolia-autocomplete .aa-hint {
  color: #999;
}
.algolia-autocomplete .aa-dropdown-menu {
  width: 100%;
  background-color: #fff;
  border: 1px solid #999;
  border-top: none;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion {
  cursor: pointer;
  padding: 5px 4px;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion.aa-cursor {
  background-color: #B2D7FF;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion em {
  font-weight: bold;
  font-style: normal;
}

.hit {
  display: block;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
}

img {
  margin-right: 10px;
}

ul {
  max-width: 600px;
  list-style: none;
  padding-left: 0px;
  margin-top: 0px
}

.filter {
  padding: 4px;
  font-size: x-large;
  display: inline-block;
}

#query {
  font-size: x-large;
  margin-top: 10px;
  margin-bottom: 10px;
}
